*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
  
}
body {
  background-color: #181818;
}
.header {
  width:100%;
  height:80px;
  display:block;
  background-color:#252525;
}
.trow {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:5px;
  text-align:center;
  font-size:20px;   
}
table {
  height:100%;
  width:600px;
  border-collapse:collapse;
  padding-left:100px;
}
#title {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight:5px;
  font-size:35px;
  text-align: right;
}

td { width:40%;}

a { color:white; background-color:#252525; font-weight: 500; }
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; font-weight:700; }
a:focus { text-decoration: none; color:white; font-weight:700;}
a:hover, a:active { text-decoration: none; color:white;font-weight:700;} 
span a { 
  background-color:#333333;
}
#name_div{ font-family:'Roboto', sans-serif; font-size:50px; margin:auto; text-align:center; color:white; padding-top: 10%;}
#descrip_div{ font-family:'Roboto', sans-serif; font-size:30px; margin:auto; text-align:center; color:white; }
.link_div {font-family:'Roboto', sans-serif; font-size:20px; margin:auto; text-align:center; color:white; padding-top:1%; background-color:#181818;}
#img_div{margin:auto; padding-top:1%; display: block;}
img { width:200px; margin-left:auto; margin-right:auto;  display:block;}
  canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
  #p5_loading {
      background-color: black;
      width:800px;
      height:500px;
      display: block;
      padding: 0;
    margin: auto;
      position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
